@import "layout.less";

main
{
      .block
      {

        margin-top: 150px;
        display: flex;
        justify-content: space-around;

        .box
        {
          width: 244px;
          height: 204px;
          border-radius: 10px;
          border: 2px solid @inactive;
          display: inline-block;
          text-decoration: none;
          padding: 35px 40px;
          text-align: center;
          background-color: white;
          color: @font-color;

          &:hover
          {
            border: 2px solid @base-color;
            background-color: @base-color;
            color: #ffffff;
          }

          .icon
          {
            color: white;

            &.new
            {
              width: 50px;
              height: 60px;
              display: block;
              margin: 0 auto 19px;
              background-image: url(../../../public/images/new-process-inactive.png);
            }
            &.follow
            {
              width: 60px;
              height: 49px;
              display: block;
              margin: 0 auto 19px;
              background-image: url(../../../public/images/follow-process-inactive.png);
            }
            &.report
            {
              width: 60px;
              height: 50px;
              display: block;
              margin: 0 auto 19px;
              background-image: url(../../../public/images/reports-inactive.png);
            }
          }

          span
          {
            font-family: "Open Sans";
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            padding: 32px 0px;
          }
        }
      }

    }
