.content
{
  .doc
  {
    &:not(.checked)
    {
      display: none;
    }
  }

  .polos,.naturezas
  {
    label {
      &.radio
      {

        margin: 0 20px;
        &.first {

          margin: 0 20px 0px 0;
        }
      }
    }
  }

  .datepickerblock
  {
    position: relative ;
  }

  .pericia
  {
    display: none;

    &.active
    {
      display: block;
    }
  }
  .data_audiencia_inaugural
  {
    display: none;

    &.active
    {
      display: block;
    }
  }


}